<h2>
    Todos List
</h2>

<div *ngFor="let item of todosItems$ | async">
    {{ item.name }}
</div>

<div *ngIf="(todosError$ | async) as todosError">
    Error: {{ todosError.message }}
</div>

<div *ngIf="todosIsLoading$ | async">
    Loading...
</div>

<h2>
    User Info
</h2>

<div *ngIf="(userData$ | async) as userData">
    Name: {{ userData.name }}
</div>

<div *ngIf="(userError$ | async) as userError">
    Error: {{ userError.message }}
</div>

<div *ngIf="userIsLoading$ | async">
    Loading...
</div>
